alembic
annotated-types
attrs
boto3
botocore
cffi
click
cryptography
dependency-injector
flasgger
Flask
Flask-Cors
Flask-JWT-Extended
greenlet
iniconfig
itsdangerous
Jinja2
jmespath
jsonschema
jsonschema-specifications
Mako
MarkupSafe
marshmallow
mistune
packaging
pluggy
prometheus_client
pycparser
pydantic
pydantic-settings
pydantic_core
PyJWT
PyMySQL
pytest
python-dateutil
python-dotenv
python-json-logger
PyYAML
referencing
rpds-py
s3transfer
six
SQLAlchemy
tenacity
typing_extensions
urllib3
webargs
Werkzeug
pytest